# Python basics
In this lab we will be covering up following things
- list
- dictionary
- function
- numpy
- pandas

# Question 1

## List
Sequences in python are data structures that hold objects in an ordered array. Now, we will work on list, the most common sequence data type in python.

This is how you define a list in Python
- Here we are defining a list named "list_1" using square braces "[ ]"

In [0]:
list_1 = ['learning', 'python', 'is fun!']

There is another way to define a list in Python
- Here we are defining a list named "list_2" using list() method

In [0]:
list_2 = list(('learning', 'for', 'life'))

### Append an element in a list
- Append number 10 to "list_1" given above
- Use append() method

In [0]:
list_1.append(10)

### Remove an element from a list
- Do this after completing the previous step
- Remove number 10 from "list_1"
- Use remove() method

In [0]:
list_1.remove(10)

### Join two lists
- Join list_1 and list_2
- Extend list_1 using list_2
- Use extend() method
- you can also use "+" operator to add two lists

In [0]:
list_1 + list_2
list_1.extend(list_2)

### Create a list
- Create a list named "list_3"
- Elements of the list: 1, 2, 3, 4, 5
- You can use "[ ]" or list() method to create a list

In [0]:
list_3=[1,2,3,4,5]

# Question 2

### Get length of a list
- Get length of list "list_3" you created in previous step
- Use len() method

In [0]:
len(list_3)

### Get minimum value in a list
- Get minimum value in list "list_3"
- Use min() method

In [0]:
min(list_3)

### Get maximum value in a list
- Get maximum value in list "list_3"
- Use max() method

In [0]:
max(list_3)

### Sum up all the elements in a list
- Sum all the elements in "list_3"
- Use sum() method

In [0]:
sum(list_3)

# Question 3

### Calculate mean of values in a list
- Calculate mean of "list_3"
- Mean = sum of all elements in the list / number of elements in the list

In [0]:
Mean = sum(list_3)/len(list_3)

### Count the occurence of an element in a given list
- There is list given below named "list_4"
- Count the occurence of number 5 in "list_4"
- Use count() method

In [0]:
list_4 = [1, 2, 3, 5, 7, 5, 8, 9, 5, 3, 0, 7, 5]

In [0]:
 list_4.count(5)

### Sort a list in ascending order
- Sort list_4 in ascending order
- Use sort() method

In [0]:
list_4.sort()

# Sort a list in descending order
- Sort list_4 in descending order
- Use sort() method
  - use `reverse=True` as parameter

In [0]:
list_4.sort()

# Question 4

## Function
- Below is a simple code to define function in python
- Below function named "sample_function" takes two arguments "a" and "b" and returns their product

In [0]:
def sample_function(a, b):
  product = a * b
  return product

- This is how you call a function in python

In [0]:
sample_function(2, 3)

### Define and call a function
- Define a function named "sum_three"
- It should take 3 numbers as arguments
- It should return the sum of 3 numbers
- Call the defined function giving required parameters

In [0]:
def sum_three(a,b,c):
    sum = a+b+c
    return sum

In [0]:
sum_three(1,2,3)

## Lambda function
Anonymous function or no name function, which can be considered when you use a function only once

Below is an example of how you can define a lambda function

In [0]:
f = lambda x, y: x + y

Here's how you can call a lambda function using required parameters

In [0]:
f(1, 2)

### Define a lambda function
- Define a lambda function named "lambda_sum_three" which takes 3 arguments and sums them up
- Call the created function with required parameters

In [0]:
lambda_sum_three = lambda x,y,z : x+y+z

In [0]:
lambda_sum_three(1,2,3)

# Question 5

## Numpy

Numpy adds support for large, multi-dimensional arrays and matrices, along with a large collection of high-level mathematical functions to operate on these arrays.

Let's import numpy

In [0]:
import numpy as np

Here's how you can create an array using numpy

In [0]:
np.array([1, 2, 3])

### Create an identity array
- Create an identity 2d-array of order 3x3
- The identity array is a square array with ones on the main diagonal
- Use identity() method

In [0]:
np.eye(3,dtype='int')

### Create a 2d array
- Create a 2d-array of order 3x3 named "sample_array"
- First row: 1, 2, 3
- Second row: 4, 5, 6
- Third row: 7, 8, 9
- Arranged in the same order as above
- Use array() method

In [0]:
sample_array = np.array ([[1,2,3],[4,5,6],[7,8,9]])

### Create transpose of an array
- Reverse both the rows and columns of the "sample_array" you created in previous step
- Use transpose() method
- You can also use T method to get a transposed array

In [0]:
sample_array = sample_array.T

In [0]:
sample_array.transpose()

# Question 6

### Add a number in all the elements of an array
- Add 1 to all the elements in the array "sample_array"
- "+" operator can be used to add a number to all elements in an array
- Similarly, you can do operations like scalar substraction, division, multiplication (operating on each element in the array)

In [0]:
sample_array=sample_array+1

### Find mean of all elements in an array
- Find mean of all elements in the array "sample_array"
- Use mean() method

In [0]:
sample_array.mean()

### Calculate dot product of two arrays
- We are giving you two arrays "a" and "b"
- Find the dot product of a and b
- Use dot() method

In [0]:
a = np.array([[1, 2], [3, 4]])
b = np.array([[5, 6], [7, 8]])

In [0]:
a.dot(b)

# Question 7

## Pandas

We have seen Numpy in the previous section. It is good at performing math operations on arrays. But the major drawback is, it cannot deal with heterogenous values. So, Pandas dataframes are helpful in that aspect for storing different data types and referring the values like a dict in python instead of just referring each item with index.

Here's how you can import pandas

In [0]:
import pandas as pd

## Series
Pandas series are almost same as arrays in numpy with a additional inferencing ability with custom labels like *keys* in a *dictionary* in python.

Here's how you can create a series

In [0]:
pd.Series(data = [1,2,3], index = ['key1', 'key2', 'key3'])

### Create a series from dictionary
- You are given a dictionary named "sample_dict" below
- Convert "sample_dict" into a series
- Use Series() method

In [0]:
sample_dict = {'a': 1, 'b': 2, 'c': 3}

In [0]:
pd.Series(sample_dict)

## Dataframes

Dataframes are the primary data structure for pandas. Two-dimensional size-mutable, potentially heterogeneous tabular data structure with labeled axes (rows and columns). Arithmetic operations align on both row and column labels. Can be thought of as a dict-like container for Series objects.

You can construct DataFrame from a dictionary

In [0]:
d = {'col1': [1, 2], 'col2': [3, 4]}
pd.DataFrame(data=d)

You can construct DataFrame from a numpy array

In [2]:
pd.DataFrame(np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]), columns=['a', 'b', 'c'])

NameError: name 'pd' is not defined

### Select specific row in given dataframe
- There is a dataframe named "df" is given below
- You have to select second row in this dataframe
- You can use "loc"
- There are multiple ways of doing it

In [1]:
df = pd.DataFrame(np.array([['a', 'b', 'c'], ['d', 'e', 'f'], ['g', 'h', 'i']]), columns=['col1', 'col2', 'col3'])

NameError: name 'pd' is not defined

In [0]:
 df.loc[1]

### Select specific row and column value in given dataframe
- There is a dataframe named "df" is given above
- You have to select the value on first row and second column
- You have to do it using "loc" and "iloc" methods
- "loc" accepts labels for column name
- "iloc" accepts indexes

In [0]:
df.loc[0]['col2']

In [0]:
df.iloc[0,1]

# Question 8

## Working on dataset using dataframe

### Using the mtcars dataset.

For the below set of questions, we will be using the cars data from [Motor Trend Car Road Tests](http://stat.ethz.ch/R-manual/R-devel/library/datasets/html/mtcars.html)

The data was extracted from the 1974 Motor Trend US magazine, and comprises fuel consumption and 10 aspects of automobile design and performance for 32 automobiles (1973â€“74 models). 


Details :
    
A data frame with 32 observations on 11 (numeric) variables.

1. mpg 	Miles/(US) gallon
2. cyl 	Number of cylinders
3. disp 	Displacement (cu.in.)
4. hp 	Gross horsepower
5. drat 	Rear axle ratio
6. wt 	Weight (1000 lbs)
7. qsec 	1/4 mile time
8. vs 	Engine (0 = V-shaped, 1 = straight)
9. am 	Transmission (0 = automatic, 1 = manual)
10. gear 	Number of forward gears
11. carb 	Number of carburetors

In [0]:
# Run this cell only if you are using Google colab
# Skip this cell if you are using jupyter notebook
from google.colab import files
files.upload()

Here's how you read a csv file in pandas
- Here we are loading mtcars dataset in a dataframe named "mtcars"

In [0]:
mtcars = pd.read_csv('mtcars.csv')

### Print first five rows of the dataframe
- Print first five rows of "mtcars" dataframe
- Use head() method

In [0]:
mtcars.head()

### Print last five rows of the dataframe
- Print last five rows of "mtcars" dataframe
- Use tail() method

In [0]:
mtcars.tail()

### Display all the columns in a given dataframe
- Display all the column names of "mtcars" dataframe
- Use columns method

In [0]:
mtcars.columns

# Question 9

### Select first few rows and columns in a given dataframe
- You have to select first six rows and first three columns from "mtcars" dataframe
- Use iloc method

In [0]:
mtcars.iloc[0:6,0:3]

### Select first few rows and specific columns in a given dataframe
- You have to select first six rows and three columns from "mtcars" dataframe
- Name of three columns to be selected are: "wt", "qsec" and "gear"
- Use "loc" method

In [0]:
mtcars.loc[0:6,['wt','qsec','gear']]

### Calculate mean of each column in a dataframe
- Calculate mean of each column in "mtcars" dataframe
- Use mean() method

In [0]:
mtcars.mean()

### Plot a specific column in a given dataframe
- Plot "mpg" column in "mtcars" dataframe
- Use plot method of matplotlib.pyplot

In [0]:
import matplotlib.pyplot as plt
plt.plot(mtcars['mpg'])

# Question 10

### Calculate 25th quantile of specific column
- Calculate 25th quantile (lower quantile) for `mpg` column in "mtcars" dataframe
- Use quantile() method

In [0]:
mtcars['mpg'].quantile(0.25)

### Calculate interquartile range (IQR) of an specific column
- Calculate interquartile range for `mpg` column in "mtcars" dataframe
- Use quantile() method
- Interquartile range (IQR) is another common measure of spread
- IQR is the distance between the 3rd quartile and the 1st quartile
- IQR = Q3 - Q1

In [0]:
q1= mtcars.mpg.quantile(0.25)
q3 = mtcars.mpg.quantile(0.75)

### Calculate variance of a specific column in dataframe
- Calculate variance of "mpg" column in "mtcars" dataframe
- Use var() method

In [0]:
mtcars['mpg'].var()

### Calculate standard deviation of a specific column in dataframe
- Calculate standard deviation of "mpg" column in "mtcars" dataframe
- Use std() method

In [0]:
mtcars['mpg'].std()

### Calculate mean absolute deviation of a specific column in dataframe
- Calculate mean absolute deviation of "mpg" column in "mtcars" dataframe
- Use mad() method

In [0]:
mtcars['mpg'].mad()